# IDEs
.idea

# Python
.python-version
*~$*
*.pyc
*.swp
*.swo
*.swn

# Mac
*.DS_Store

# Autosave
*.autosave
*~

# Custom
client/__pycache__/*

# Egg
*.egg-info

# Distribution
dist

# Build
build

.venv
.tox
