name: Integration

on:
  push:
    branches:
      - "develop"
  pull_request:
  repository_dispatch:
    types: [alfalfa-update]

jobs:
  integration:
    name: Integration Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: "1.3.1"

      - name: Start Alfalfa
        uses: NREL/alfalfa-action@v1
        with:
          tag: "develop"
          compose-file-ref: "develop"
          worker-scale: 2

      - name: Run tests with poetry and pytest
        run: |
          poetry install
          poetry run pytest -m integration
